<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite</title>
    <link type="text/css" rel="stylesheet" href="..\static\style.css">
    <link rel="icon" href="../static/icons/sputnik.png" type="image/x-icon">
</head>

<body>
    <h1 class="text">Tracking satellites based on TLE data</h1>
    <div class="container">
        <!-- <div id="image-block" class="left_side"> -->
        <div id="image-block">
            <img id="image" src="" alt="Generated image">
        </div>
    </div>
    <!-- <div class="right_side">
            <div class="wrapper1">
                <a class="add">Add satellite</a>

            </div> -->

    <!-- <div class="wrapper2">
                <a <button class="submit">Submit</button></a>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                        <path
                            d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
                    </svg>
                </div>
            </div> -->

    <!-- <div class="satellites_info"></div> -->
    <!-- </div> -->

    </div>
    <div class="satellites_info">
        <form action="/submit" method="post" class="satellite-form">
            <input name="id" type="number" placeholder="Enter satellite's ID" />
            <input name='step' type="number" placeholder="Enter step" />
            <input name='date' type="date" placeholder="Enter date" />
            <!-- <button type="submit" class="submit">Submit</button> -->

            <button type="submit" class="submit">Submit</button>
            <!-- <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                    <path
                        d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
                </svg>
            </div> -->



            <!-- <button type="button" class="delete">Delete satellite</button> -->
        </form>
        <!-- <img id="image" src="" alt="Generated image"> -->
    </div>



    <article id="wrap">
        <article id="lightings">
            <section id="one">
                <section id="two">
                    <section id="three">
                        <section id="four">
                            <section id="five">

                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </article>
    </article>

    <script src="../static/script.js"></script>
    <script>
        const form = document.querySelector('.satellite-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(form);
            fetch('/submit', {
                method: 'POST',
                body: formData
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = URL.createObjectURL(blob);
                    const image = document.getElementById('image');
                    image.src = url;
                })
                .catch(error => console.error(error));
        });
    </script>
</body>

</html>